docs/n8n-workflows/avisos-diarios-07h.json
[
  {
    "updatedAt": "2026-04-19T00:17:30.000Z",
    "createdAt": "2026-03-15T15:49:49.418Z",
    "id": "FI8jlVFPeKC6rtiH",
    "name": "AvisosDiarios",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 7
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -368,
          -16
        ],
        "id": "dd580230-bbc5-40a2-8875-2c3727465946",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "url": "https://yycpctrcefxemgahhxgx.supabase.co/functions/v1/taskflow-lembrar-maikon",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -96,
          -128
        ],
        "id": "b24376bb-2e2c-4c75-a1f0-bb13971d7b47",
        "name": "HTTP Request",
        "credentials": {
          "httpHeaderAuth": {
            "id": "OPA8HBi9BNq9kmhK",
            "name": "getTask"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const dados = $input.first().json;\nconst dia = Array.isArray(dados) ? dados[0] : dados;\nconst total = dia.total;\nconst tarefas = dia.tarefas || [];\n\nif (total === 0) {\n  const mensagem = `Bom dia, Dr. Maikon! ☀️\\n\\nNenhuma tarefa na coluna *Lembrar Dr. Maikon* hoje. Dia livre pra focar no que importa!`;\n  return [{ json: { mensagem } }];\n}\n\n// Agrupa por urgência\nconst grupos = { atrasada: [], hoje: [], amanha: [], futura: [], sem_prazo: [] };\nfor (const t of tarefas) grupos[t.urgencia || 'sem_prazo'].push(t);\n\nfunction bloco(titulo, emoji, lista) {\n  if (!lista.length) return '';\n  const linhas = lista.map((t, i) => {\n    const prazo = t.prazo_label ? ` (${t.prazo_label})` : '';\n    return `${i + 1}. ${t.titulo}${prazo}`;\n  }).join('\\n');\n  return `\\n${emoji} *${titulo}* (${lista.length})\\n${linhas}\\n`;\n}\n\nlet corpo = '';\ncorpo += bloco('ATRASADAS', '🔴', grupos.atrasada);\ncorpo += bloco('HOJE',      '🟡', grupos.hoje);\ncorpo += bloco('AMANHÃ',    '🟢', grupos.amanha);\ncorpo += bloco('FUTURAS',   '⏳', grupos.futura);\ncorpo += bloco('SEM PRAZO', '📝', grupos.sem_prazo);\n\nconst mensagem = `Bom dia, Dr. Maikon! ☀️\\n\\nVocê tem *${total} tarefa${total !== 1 ? 's' : ''}* para lembrar hoje (${dia.data}):\\n${corpo}`;\n\nreturn [{ json: { mensagem } }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          128,
          -32
        ],
        "id": "b679da1b-0d5a-47fb-b1c8-3f657baf8b95",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "resource": "messages-api",
          "instanceName": "isadoraVolek",
          "remoteJid": "5547992153480",
          "messageText": "={{ $json.mensagem }}",
          "options_message": {}
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          384,
          -160
        ],
        "id": "718c26d9-e3b3-4489-a253-1bb96838f1bc",
        "name": "Enviar texto",
        "credentials": {
          "evolutionApi": {
            "id": "nZ2r3X9p3Hy1wV6t",
            "name": "Evolution account"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Enviar texto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": false,
      "timeSavedMode": "fixed",
      "timezone": "America/Sao_Paulo",
      "saveExecutionProgress": true,
      "callerPolicy": "workflowsFromSameOwner",
      "saveManualExecutions": true
    },
    "staticData": {
      "node:Schedule Trigger": {
        "recurrenceRules": []
      }
    },
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "3943d8e8-86a2-4cc0-bf22-ac363e617a7c",
    "activeVersionId": "3943d8e8-86a2-4cc0-bf22-ac363e617a7c",
    "versionCounter": 80,
    "triggerCount": 1,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-03-15T15:49:49.422Z",
        "createdAt": "2026-03-15T15:49:49.422Z",
        "role": "workflow:owner",
        "workflowId": "FI8jlVFPeKC6rtiH",
        "projectId": "SxdFFgTI1TnpBH27",
        "project": {
          "updatedAt": "2025-11-16T10:10:31.438Z",
          "createdAt": "2025-11-16T09:28:51.588Z",
          "id": "SxdFFgTI1TnpBH27",
          "name": "ewertonq rtubi <madeira.holding.ti@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "9993fbf2-3e9a-492f-bc43-2e0e36047f12"
        }
      }
    ],
    "versionMetadata": {
      "name": "Version c2aae79d",
      "description": ""
    }
  }
]