docs/n8n-workflows/avisos-diarios-07h.json
[
  {
    "updatedAt": "2026-04-23T17:46:03.000Z",
    "createdAt": "2026-03-15T15:49:49.418Z",
    "id": "FI8jlVFPeKC6rtiH",
    "name": "AvisosDiarios",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 7
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -368,
          -16
        ],
        "id": "dd580230-bbc5-40a2-8875-2c3727465946",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "url": "https://yycpctrcefxemgahhxgx.supabase.co/functions/v1/taskflow-lembrar-maikon",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -96,
          -128
        ],
        "id": "b24376bb-2e2c-4c75-a1f0-bb13971d7b47",
        "name": "HTTP Request",
        "credentials": {
          "httpHeaderAuth": {
            "id": "OPA8HBi9BNq9kmhK",
            "name": "getTask"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const dados = $input.first().json;\nconst dia = Array.isArray(dados) ? dados[0] : dados;\nconst total = dia.total;\nconst tarefas = dia.tarefas || [];\n\nconst lista = tarefas\n  .map((t, i) => `${i + 1}. ${t.titulo}`)\n  .join('\\n');\n\nconst mensagem = total === 0\n  ? `Bom dia, Dr. Maikon! ☀️\\n\\nNão há tarefas com prazo para hoje na coluna Lembrar Dr. Maikon.`\n  : `Bom dia, Dr. Maikon, Tudo bem? 😊\\nHoje você tem *${total} tarefa${total !== 1 ? 's' : ''}* para lembrar:\\n\\n📋 *Lembretes de hoje (${dia.data}):*\\n${lista}`;\n\nreturn [{ json: { mensagem } }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          128,
          -32
        ],
        "id": "b679da1b-0d5a-47fb-b1c8-3f657baf8b95",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "resource": "messages-api",
          "instanceName": "isadoraVolek",
          "remoteJid": "5547992153480",
          "messageText": "={{ $json.mensagem }}",
          "options_message": {}
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          384,
          -160
        ],
        "id": "718c26d9-e3b3-4489-a253-1bb96838f1bc",
        "name": "Enviar texto",
        "credentials": {
          "evolutionApi": {
            "id": "nZ2r3X9p3Hy1wV6t",
            "name": "Evolution account"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Enviar texto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": false,
      "timeSavedMode": "fixed",
      "timezone": "America/Sao_Paulo",
      "saveExecutionProgress": true,
      "callerPolicy": "workflowsFromSameOwner",
      "saveManualExecutions": true
    },
    "staticData": {
      "node:Schedule Trigger": {
        "recurrenceRules": []
      }
    },
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "be8344a1-c697-4b9d-b8a1-b34b8215e6b7",
    "activeVersionId": "be8344a1-c697-4b9d-b8a1-b34b8215e6b7",
    "versionCounter": 83,
    "triggerCount": 1,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-03-15T15:49:49.422Z",
        "createdAt": "2026-03-15T15:49:49.422Z",
        "role": "workflow:owner",
        "workflowId": "FI8jlVFPeKC6rtiH",
        "projectId": "SxdFFgTI1TnpBH27",
        "project": {
          "updatedAt": "2025-11-16T10:10:31.438Z",
          "createdAt": "2025-11-16T09:28:51.588Z",
          "id": "SxdFFgTI1TnpBH27",
          "name": "ewertonq rtubi <madeira.holding.ti@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "9993fbf2-3e9a-492f-bc43-2e0e36047f12"
        }
      }
    ],
    "versionMetadata": {
      "name": "Version c2aae79d",
      "description": ""
    }
  }
]